<div class="todo-list-item" *ngFor="let todo of open">
  <app-todo [todo]="todo"
            (deleteClicked)="deleteClicked.emit($event)"
            (todoUpdated)="todoUpdated.emit($event)"
            (updateClicked)="updateClicked.emit($event)">
  </app-todo>
</div>
<div class="todo-list-item" *ngFor="let todo of completed">
  <app-todo [todo]="todo"
            (deleteClicked)="deleteClicked.emit($event)"
            (todoUpdated)="todoUpdated.emit($event)"
            (updateClicked)="updateClicked.emit($event)">
  </app-todo>
</div>
